.interview {
  height: 500px;
  background-color: #232323;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  padding: 30px 30px 10px 30px !important;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.602);

  .section-videos {
    height: 410px;
    display: flex;
    font-size: 0.8em;

    .left {
      height: 410px;
      width: 55%;
    }

    .right {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 300px;
      width: 45%;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #333333;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(83, 83, 83);
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgb(139, 139, 139);
      }
    }

    .video-item {
      .video-wrapper {
        height: 100%;
        margin-right: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 5px #000;

        .video-btn {
          z-index: 9;
          cursor: pointer;
          height: 100%;
          width: 100%;
          position: absolute;
          background: url(../images/icons/video-btn-2.png) no-repeat center
            center;
          background-color: rgba(3, 3, 3, 0.281);
          transition: 0.2s ease-out;
          opacity: 1;

          @at-root {
            .interview .right .video-item:nth-child(3n + 2) .video-btn {
              background: url(../images/icons/video-btn-3.png) no-repeat center
                center;
              background-color: rgba(3, 3, 3, 0.281);
            }

            .interview .right .video-item:nth-child(3n + 3) .video-btn {
              background: url(../images/icons/video-btn-4.png) no-repeat center
                center;
              background-color: rgba(3, 3, 3, 0.281);
            }
          }
        }

        .video-btn:hover,
        .hide-btn {
          background-color: transparent;
          opacity: 0;
          transition: 0.2s ease-out;
        }

        video {
          object-fit: cover;
        }
      }

      .video-desc {
        h3 {
          cursor: pointer;
          transition: 0.2s ease;
        }

        h3:hover {
          transition: 0.2s ease;
          color: rgb(212, 212, 212);
        }

        .video-data {
          display: flex;
          align-items: center;

          .posted,
          .comments {
            margin-right: 20px;
          }

          .posted,
          .comments,
          .views,
          .posted:before,
          .comments:before,
          .views:before {
            opacity: 0.8;
          }

          @at-root {
            .views {
              display: inline-block;
              margin-right: 10px;
            }

            .views:before {
              content: url(../images/icons/psd-imageslayer_221.png);
              transform: scale(0.8);
              display: inline-block;
              vertical-align: middle;
              margin-right: 3px;
            }
          }
        }
      }

      @at-root {
        .interview .left {
          .video-item {
            height: 300px;

            .video-desc {
              h3 {
                font-size: 1.8em;
                font-weight: 600;
              }
            }

            .video-wrapper {
              .video-btn {
                background: url(../images/icons/video-btn-1.png) no-repeat
                  center center;
                background-color: rgba(3, 3, 3, 0.281);
              }

              video {
                max-width: 100%;
              }
            }
          }
        }

        .interview .right {
          .video-item {
            height: 30%;
            margin-bottom: calc(300px / 20);
            display: flex;
            align-items: center;

            .video-desc {
              h3 {
                margin-top: 0;
                font-weight: 600;
              }
            }

            .video-wrapper {
              video {
                height: 100%;
              }
            }
          }

          .video-item:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
