@import "config";
@import "media";
@import "feature-panel";
@import "nav";
@import "carousel";
@import "franchise";
@import "interview";
@import "offer-sales";
@import "companies";
@import "news";
@import "training";
@import "section";
@import "aside";
@import "footer";

// заменить на необходимые элементы
* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  margin: 0;
  color: rgb(56, 56, 56);
}

a {
  text-decoration: none;
  color: #000;
}

hr {
  clear: both;
  margin: 10px 30px;
  opacity: 0.2;
}

.feature-panel,
.nav {
  font-weight: 500;
  height: 50px;
  display: grid;
}

main {
  clear: both;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 500px;

  .main-left {
    grid-column: 1 / 2;
  }

  .main-right {
    grid-column: 2 / 3;
  }

  footer {
    grid-column: 1 / 3;
  }

  .adds-main {
    clear: both;
    margin: 20px 0;

    img {
      max-width: 100%;
    }
  }
}

.offices .section-slider {
  .owl-item {
    overflow: hidden;
    border-radius: 10px !important;
  }
}
